/AsciiValueOfAllChracters.java
/automorphix.java
/dataFileRead.java
/dataFileReadWithMethods.java
/dataFileWrite.java
/disarium.java
/evilNumber.java
/EvilNumberGUI.java
/EvilNumberLogic.java
/ExtractAscii.java
/facinatingnumber.java
/filereader.java
/filewriter.java
/fruits.txt
/HeartPattern.java
/matrixInFile.java
/MatrixInFileGUI.java
/names.dat
/neon.java
/palPrime.java
/ReverseAscii.java
/SimpleUIExample.java
/sumOfMEqualsToN.java
/twoDarray.java
/TypingAnimation.java