/AsciiValueOfAllChracters.java
/automorphix.java

/disarium.java

/ExtractAscii.java
/facinatingnumber.java

/fruits.txt
/HeartPattern.java
/names.dat
/neon.java
/palPrime.java
/ReverseAscii.java
/sumOfMEqualsToN.java
/twoDarray.java
/TypingAnimation.java